body {
  font-family: 'Roboto', sans-serif;
}

.mainWrapper {
  max-width: 1000px;
  margin: 10px auto;
}

nav {
  border-bottom: 3px double #444; 
  padding-bottom: 20px;
  display: flex;
}

nav a {
  text-decoration: none;
  outline: 1px solid #444;
  padding: 7px;
  color: green;
  margin-right: 10px;
}

nav a:hover, nav a:visited:hover {
  background: #999;
  color: white;
}

nav a:visited {
  color: #444;
}

nav a.active {
  background: #444;
  color: white;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  font-size: 20px;
  background: #5E7CB6;
  border: 1px solid darkblue;
  color: white;
}

.bookGrid {
  display: flex;
  align-items: flex-start;
}

.bookGrid li {
  margin-right: 20px;
  outline: 1px solid #999;
  padding: 20px;
  background: #eee;
  min-height: 522px;
}

.bookGrid li:last-child {
  margin-right: 0;
}

.bookGrid img {
  height: 150px;
  width: 110px;
  margin: 0 auto;
  display: block;
}

.bookGrid h1 {
  font-size: 20px;
}

.bookGrid h2 {
  font-size: 17px;
  color: #444;
}

.bookGrid li.selected {
  background-color: #777;
  color: #fafafa;
}

.bookGrid p {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}
